<div class="jumbotron blog-image">
  <p class="page-title"> <%= @blog.title %> </p>
</div>
<div class="container page">
  <%= render partial: "partials/connect_links" %>
  <p class="show-post-date"><%= @blog.post_date %></p>
  <p class="comment-count">Comments: <%= @blog.comments.count %></p>
  <% if current_user %>
    <p class="comment-count"> <%= link_to "Edit", edit_user_blog_path(@blog) %></p>
  <% end %>
  <div class="post-contents">
    <%= @blog.content.html_safe %>
  </div>
  <br>
  <p class="show-post-date">Comments (<%= @blog.comments.count %>)</p>
  <%= form_for @comment, url: comments_path, method: :post do |f| %>
    <%= f.label :comment_name, "Your Name", class: "hidden" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Your name" %>
    <%= f.label :comment_content, "Comment", class: "hidden" %>
    <%= f.text_area :content, class: "form-control", placeholder: "Comment" %>
    <br>
    <%= hidden_field_tag(:blog_id, @blog.id) %>
    <%= f.submit "Leave a comment!", class: "btn btn-default" %>
    <br>
    <br>
  <% end %>
  <% @blog.comments.each do |comment| %>
    <p class="comment-name">  <%= comment.name %> </p>
    <p class= "comment-date"><%= comment.created_at.strftime("%B %d, %Y") %></p>
    <p class="post-contents"><%= comment.content %></p>
    <hr>
  <% end %>
</div>
