<div class="row connect-links">
  <div class="col-md-1 col-md-offset-4 col-sm-3 connect-image">
    <%= link_to "mailto:adrienne.domingus@gmail.com", :target => "_blank" do %>
      <img src="<%= asset_path('email-logo.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-3 connect-image">
    <%= link_to "https://github.com/adriennedomingus", :target => "_blank" do %>
      <img src="<%= asset_path('github-logo.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-3 connect-image">
    <%= link_to "https://www.linkedin.com/in/adriennedomingus", :target => "_blank" do %>
      <img src="<%= asset_path('linked-in-logo.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-3 connect-image">
    <%= link_to "https://twitter.com/a_domingus", :target => "_blank" do %>
      <img src="<%= asset_path('twitter-logo.png') %>" />
    <% end %>
  </div>
</div>
