<div class="row connect-links row-centered">
  <div class="col-md-1 col-sm-2 col-xs-2 connect-image col-centered">
    <%= link_to "mailto:adrienne.domingus@gmail.com", :target => "_blank" do %>
      <img src="<%= asset_path('email-logo-white.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-2 col-xs-2 connect-image col-centered">
    <%= link_to "https://github.com/adriennedomingus", :target => "_blank" do %>
      <img src="<%= asset_path('github-logo-white.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-2 col-xs-2 connect-image col-centered">
    <%= link_to "https://www.linkedin.com/in/adriennedomingus", :target => "_blank" do %>
      <img src="<%= asset_path('linked-in-logo-white.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-2 col-xs-2 connect-image col-centered">
    <%= link_to "https://twitter.com/a_domingus", :target => "_blank" do %>
      <img src="<%= asset_path('twitter-logo-white.png') %>" />
    <% end %>
  </div>
  <div class="col-md-1 col-sm-2 col-xs-2 connect-image col-centered">
    <%= link_to "https://medium.com/@adriennedomingus", :target => "_blank" do %>
      <img src="<%= asset_path('blog-logo.png') %>" />
    <% end %>
  </div>
</div>
