<div class="jumbotron blog-image">
  <p class="page-title"> Portfolio</p>
</div>
<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4 project-block">
          <h3 class="section-header"><%= link_to project.name, project_path(project.slug)%></h3>
          <%= link_to image_tag("#{project.screenshot}"), project_path(project.slug) %>
      </div>
    <% end %>
  </div>
<br>
  <div class="row">
    <br/>
    <h3 class="internal-header">Back End Only Projects</h3>
    <p class = "post-contents"><%= link_to "Rails Engine", "https://github.com/adriennedomingus/rails_engine" %> - serving an internal API and Intermediate ActiveRecord</p>
    <p class = "post-contents"><%= link_to "Open Source", "https://github.com/exercism/exercism.io/pull/2818" %> contribution to <%= link_to "exercism.io", "http://exercism.io/" %> - create a new API endpoint to track user completion statistics</p>
  </div>
</div>
