<div class="jumbotron blog-image">
  <p class="page-title"> <%= @project.name %> </p>
</div>

<div class="container page">
  <div class="row">
    <%= link_to "Code", @project.code, class: "col-md-3 col-md-offset-2 btn btn-default", target: '_blank' %>
    <%= link_to "Production", @project.production, class: "col-md-3 col-md-offset-2 btn btn-default", target: '_blank' %>
  </div>
  <% if current_user %>
    <%= link_to "Edit", edit_user_project_path(@project)%>
  <% end %>
  <br>
  <%= @project.description.html_safe %>
  <% if @project.screenshot %>
    <div class="row">
      <%= image_tag @project.screenshot %>
    </div>
  <% end %>
  <% if !@project.blogs.empty? %>
    <% if @project.blogs.count == 1 %>
      <h2 class="section-header">Blog</h3>
    <% else %>
      <h3 class="section-header">Blogs</h3>
    <% end %>
    <% @project.blogs.each do |blog| %>
      <p class="post-title"><%= link_to blog.title, blog_path(blog.slug)%></p>
      <p class="post-date"><%= blog.post_date %></p>
      <p class="post-contents"><%= raw(blog.content.split(" ")[0..35].join(" ")) %></p>
      <hr>
    <% end %>
  <% end %>
</div>
