<!DOCTYPE html>
<html>
<head>
  <title>Adrienne Domingus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li> <%= link_to "Adrienne Domingus", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Blog", '#' %></li>
      <li><%= link_to "Projects", '#' %></li>
      <li><%= link_to "Connect", '#' %></li>
    </ul>
  </div>
</nav>
<%= yield %>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
